aiohttp==3.8.6
aiosignal==1.3.1
anyio==3.7.1
async-timeout==4.0.3
attrs==23.1.0
certifi==2023.7.22
charset-normalizer==3.3.0
click==8.1.7
cmake==3.27.6
exceptiongroup==1.1.3
fastapi
fschat
httpx==0.25.0
huggingface-hub==0.17.3
numpy
openai==1.4.0
pandas
plotly==5.17.0
prompt-toolkit==3.0.39
protobuf==4.24.4
pydantic
PyYAML
ray
sentencepiece
tiktoken
tqdm
sqlalchemy
psycopg2-binary
chromadb
pgvector
termtables
playsound
uvicorn
json-logging==1.3.0
asyncer
faker
nanoid
boto3
tabulate
altair
anthropic
replicate
google-generativeai
Markdown
groq
transformers
pydantic-settings
black
termcolor==2.4.0
kubernetes_asyncio
boto3-stubs[sagemaker-runtime]

# Further opentelemetry-instrumentation-* dependencies will be
# added by opentelemetry-bootstrap command run in Dockerfile.
# In this case, that will be docker build of bp-runner.
# See https://opentelemetry.io/docs/languages/python/automatic/
opentelemetry-distro
opentelemetry-exporter-otlp
